* * * * * root echo "Running index at $(date)" >> /var/www/html/index.log && cd /var/www/html && API_LOGIN=demo@demo.demo API_PASSWORD=demo MYSQL_USER=user MYSQL_PASSWORD=user_password /usr/local/bin/php /var/www/html/protected/yiic queueconsumer index >> /var/www/html/index.log 2>&1
* * * * * root echo "Running scheduleAllMeters at $(date)" >> /var/www/html/schedule.log && cd /var/www/html && API_LOGIN=demo@demo.demo API_PASSWORD=demo MYSQL_USER=user MYSQL_PASSWORD=user_password /usr/local/bin/php /var/www/html/protected/yiic queueconsumer scheduleAllMeters >> /var/www/html/schedule.log 2>&1
